{% extends 'base.html' %}

{% block content %}
<h1>Chaosinventory</h1>
<p>Welcome to the Chaosinventory Backend.<br>
You can use the frontend shipped with chaosinventory or use the API :)</p>
<ul>
  <li><a href="/app/">Frontend</a></li>
  <li><a href="/admin/">Admin</a></li>
  <li><a href="/api/">API</a></li>
  <li><a href="https://chaosinventory.readthedocs.io/projects/core/" target="_blank">Docs</a></li>
  <li><a href="https://github.com/chaosinventory/chaosinventory" target="_blank">GitHub</a></li>
</ul>
{% endblock content %}
