[django]
secret = foobar2342
debug = True
allowed_hosts = *
cors_allow_all = false
cors_allowed_origins = http://localhost,http://127.0.0.1:8080,http://[::1]:8080
language_code = en-us
time_zone = UTC

[database]
engine = sqlite3
name = db.sqlite3
user =
password =
host =
port =

[email]
backend = filebased.EmailBackend
host =
port =
user =
password =
ssl = False
tls = False
