[django]
secret = fallback-secret
debug = True
allowed_hosts = *
language_code = en-us
time_zone = UTC

[database]
engine = sqlite3
name = db.sqlite3
user =
password =
host =
port =

[email]
backend = filebased.EmailBackend
host =
port =
user =
password =
ssl = False
tls = False

